version: "3.9"

volumes:
  prometheus_data:
  grafana_data:
  mysql-health:

services:
  prometheus:
    container_name: prometheus
    hostname: prometheus
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090

  grafana:
    container_name: grafana
    hostname: grafana
    image: grafana/grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana_datasources.yml:/etc/grafana/provisioning/datasources/all.yaml
      - ./grafana_config.ini:/etc/grafana/config.ini
    ports:
      - 3000:3000

  linux:
    extends:
      file: ./modules/linux-heartbit/linux.yml
      service: linux-health
