global:
  scrape_interval: 30s

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "linux-health"
    scrape_interval: 5s
    static_configs:
      - targets: ["linux-health:9100", "grafana:3000"]
